<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="kr.co.gdu.cash.restmapper.ChartRestMapper">
 
 	<select id="selectTotalOutAndInByYear" parameterType="int" resultType="java.util.Map">
		SELECT YEAR(cashbook_date) '년',
			sum(case when cashbook_kind='수입' then cashbook_price END) '수입',
			sum(case when cashbook_kind='지출' then cashbook_price END) '지출'
		FROM cashbook
		WHERE YEAR(cashbook_date) = #{year}
		GROUP BY Year(cashbook_date)
		
	</select>
	
	<!-- 년도 찾기 -->
	<select id="selectYear" resultType="String">
		SELECT
			Year(cashbook_date) year
		FROM cashbook
		GROUP by Year(Cashbook_date);
	</select>
	<select id="selectTotalOfMonthOutByYear" parameterType="int" resultType="java.util.Map">		
		SELECT 
			YEAR(cashbook_date)  year,
			sum(case when month(cashbook_date)=1 then cashbook_price END)  "january",
			sum(case when month(cashbook_date)=2 then cashbook_price END)  "february",
			sum(case when month(cashbook_date)=3 then cashbook_price END)  "march",
			sum(case when month(cashbook_date)=4 then cashbook_price END)  "april",
			sum(case when month(cashbook_date)=5 then cashbook_price END)  "may",
			sum(case when month(cashbook_date)=6 then cashbook_price END)  "june",
			sum(case when month(cashbook_date)=7 then cashbook_price END)  "july",
			sum(case when month(cashbook_date)=8 then cashbook_price END)  "august",
			sum(case when month(cashbook_date)=9 then cashbook_price END)  "september",
			sum(case when month(cashbook_date)=10 then cashbook_price END)  "october",
			sum(case when month(cashbook_date)=11 then cashbook_price END)  "november",
			sum(case when month(cashbook_date)=12 then cashbook_price END)  "december"
		FROM cashbook
		WHERE YEAR(cashbook_date) = #{year}
		AND cashbook_kind = "지출"
		GROUP BY Year(cashbook_date)	  
	</select>
	<select id="selectTotalOfMonthInByYear" parameterType="int" resultType="java.util.Map">		
		SELECT 
			YEAR(cashbook_date)  year,
			sum(case when month(cashbook_date)=1 then cashbook_price END)  "january",
			sum(case when month(cashbook_date)=2 then cashbook_price END)  "february",
			sum(case when month(cashbook_date)=3 then cashbook_price END)  "march",
			sum(case when month(cashbook_date)=4 then cashbook_price END)  "april",
			sum(case when month(cashbook_date)=5 then cashbook_price END)  "may",
			sum(case when month(cashbook_date)=6 then cashbook_price END)  "june",
			sum(case when month(cashbook_date)=7 then cashbook_price END)  "july",
			sum(case when month(cashbook_date)=8 then cashbook_price END)  "august",
			sum(case when month(cashbook_date)=9 then cashbook_price END)  "september",
			sum(case when month(cashbook_date)=10 then cashbook_price END)  "october",
			sum(case when month(cashbook_date)=11 then cashbook_price END)  "november",
			sum(case when month(cashbook_date)=12 then cashbook_price END)  "december"
		FROM cashbook
		WHERE YEAR(cashbook_date) = #{year}
		AND cashbook_kind = "수입"
		GROUP BY Year(cashbook_date)	  
	</select>
	
  	<select id="selectCategoryInByYear" parameterType="int" resultType="java.util.Map">
  		SELECT YEAR(cashbook_date) YEAR,
		SUM(case when category_name="급여" then cashbook_price END) "급여",
		SUM(case when category_name="용돈" then cashbook_price END) "용돈"
		FROM cashbook
		WHERE YEAR(cashbook_date)= #{year}
		GROUP BY Year(cashbook_date);
  	</select>
  
  	<select id ="selectCategoryOutByYear" parameterType="int" resultType="java.util.Map">
  		SELECT YEAR(cashbook_date) YEAR,
			SUM(case when category_name="관광" then cashbook_price END) "관광",
			SUM(case when category_name="생활" then cashbook_price END) "생활",
			SUM(case when category_name="식비" then cashbook_price END) "식비",
			SUM(case when category_name="의료" then cashbook_price END) "의료"
		FROM cashbook
		WHERE YEAR(cashbook_date)=#{year}
		GROUP BY Year(cashbook_date);
  	</select>
  	
  	<select id="selectMonthOfCategoryInByYear" parameterType="int" resultType="java.util.Map">
  		SELECT 
			YEAR(cashbook_date)  YEAR,category_name,
			sum(case when month(cashbook_date)=1 then cashbook_price END)  "january",
			sum(case when month(cashbook_date)=2 then cashbook_price END)  "february",
			sum(case when month(cashbook_date)=3 then cashbook_price END)  "march",
			sum(case when month(cashbook_date)=4 then cashbook_price END)  "april",
			sum(case when month(cashbook_date)=5 then cashbook_price END)  "may",
			sum(case when month(cashbook_date)=6 then cashbook_price END)  "june",
			sum(case when month(cashbook_date)=7 then cashbook_price END)  "july",
			sum(case when month(cashbook_date)=8 then cashbook_price END)  "august",
			sum(case when month(cashbook_date)=9 then cashbook_price END)  "september",
			sum(case when month(cashbook_date)=10 then cashbook_price END)  "october",
			sum(case when month(cashbook_date)=11 then cashbook_price END)  "november",
			sum(case when month(cashbook_date)=12 then cashbook_price END)  "december"
		FROM cashbook
		WHERE YEAR(cashbook_date) = #{year}
		AND cashbook_kind = "수입"
		GROUP BY Year(cashbook_date), category_name
  	</select>
  	
  	<select id="selectMonthOfCategoryOutByYear"  parameterType="int" resultType="java.util.Map">
  		SELECT 
			YEAR(cashbook_date)  YEAR,category_name,
			sum(case when month(cashbook_date)=1 then cashbook_price END)  "january",
			sum(case when month(cashbook_date)=2 then cashbook_price END)  "february",
			sum(case when month(cashbook_date)=3 then cashbook_price END)  "march",
			sum(case when month(cashbook_date)=4 then cashbook_price END)  "april",
			sum(case when month(cashbook_date)=5 then cashbook_price END)  "may",
			sum(case when month(cashbook_date)=6 then cashbook_price END)  "june",
			sum(case when month(cashbook_date)=7 then cashbook_price END)  "july",
			sum(case when month(cashbook_date)=8 then cashbook_price END)  "august",
			sum(case when month(cashbook_date)=9 then cashbook_price END)  "september",
			sum(case when month(cashbook_date)=10 then cashbook_price END)  "october",
			sum(case when month(cashbook_date)=11 then cashbook_price END)  "november",
			sum(case when month(cashbook_date)=12 then cashbook_price END)  "december"
		FROM cashbook
		WHERE YEAR(cashbook_date) = #{year}		
		AND cashbook_kind = "지출"
		GROUP BY Year(cashbook_date), category_name	  
  	</select>
  	<select id="selectMonthOfInAndOutByYear" parameterType="int" resultType="java.util.Map">
  		SELECT 
			YEAR(cashbook_date)  YEAR,  cashbook_kind,
			sum(case when month(cashbook_date)=1 then cashbook_price END)  "january",
			sum(case when month(cashbook_date)=2 then cashbook_price END)  "february",
			sum(case when month(cashbook_date)=3 then cashbook_price END)  "march",
			sum(case when month(cashbook_date)=4 then cashbook_price END)  "april",
			sum(case when month(cashbook_date)=5 then cashbook_price END)  "may",
			sum(case when month(cashbook_date)=6 then cashbook_price END)  "june",
			sum(case when month(cashbook_date)=7 then cashbook_price END)  "july",
			sum(case when month(cashbook_date)=8 then cashbook_price END)  "august",
			sum(case when month(cashbook_date)=9 then cashbook_price END)  "september",
			sum(case when month(cashbook_date)=10 then cashbook_price END)  "october",
			sum(case when month(cashbook_date)=11 then cashbook_price END)  "november",
			sum(case when month(cashbook_date)=12 then cashbook_price END)  "december"
		FROM cashbook
		WHERE YEAR(cashbook_date) = #{year}	
		GROUP BY Year(cashbook_date), cashbook_kind
  	</select>
  </mapper>