<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="kr.co.gdu.cash.mapper.MemberMapper">
  	<insert id="insertMember" parameterType="kr.co.gdu.cash.vo.Member">
  		INSERT INTO member(
  			id,
  			pw
  		) VALUES(
  			#{id},
  			#{pw}
  		)
  	</insert>
  
  
  	<select id="selectMemberById" parameterType="String" resultType="kr.co.gdu.cash.vo.Member">
  		SELECT
  			id,
  			pw
  		FROM member
  		WHERE id=#{id} 
  	</select>
  	<!-- 입력값이 1개일때는 아무거나 넣어줘도 된다.2개 이상 입력값이 있으면 필드값이 동일해야된다. -->
  </mapper>