<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.gdu.cash.mapper.NoticeMapper">
	
	<!-- 공지사항 리스트 -->
	<select id="selectNoticeListByPage" parameterType="java.util.Map" resultType="kr.co.gdu.cash.vo.Notice">
		SELECT 
			notice_id noticeId,
			member_id memberId,
			notice_title noticeTitle,
			notice_content noticeContent,
			notice_date noticeDate 
		FROM notice
		ORDER BY notice_date DESC
		LIMIT #{beginRow}, #{rowPerPage}
	</select>
	
	<!-- 공지사항 리스트 총 개수 확인 -->
	<select id="countNoticeList" resultType="int">
		SELECT 
			COUNT(*) count
		FROM notice
	</select>
	
	<!-- 공지사항 추가 -->
	<insert id="insertNotice" parameterType="kr.co.gdu.cash.vo.Notice">
		<selectKey resultType="int" keyProperty="noticeId" order="AFTER">
			SELECT LAST_INSERT_ID()			
		</selectKey>
		INSERT INTO notice(
			member_id,
			notice_title,
			notice_content,
			notice_date )
			values(
			#{memberId},
			#{noticeTitle},
			#{noticeContent},
			now() )
	</insert>
	
	<!-- 공지사항 상세보기 -->
	<resultMap type="kr.co.gdu.cash.vo.Notice" id="selectNoticeOne">
			<result property="memberId" column="member_id"/>
			<result property="noticeId" column="notice_id"/>
			<result property="noticeTitle" column="notice_title"/>
			<result property="noticeContent" column="notice_content"/>
			<result property="noticeDate" column="notice_date"/>
		<collection property="noticefileList" ofType="kr.co.gdu.cash.vo.Noticefile">
			<result property="noticefileId" column="noticefile_id" />
			<result property="noticeId" column="notice_id" />
			<result property="noticefileName" column="noticefile_name" />
			<result property="originalfileName" column="originalfile_name" />
			<result property="noticefileType" column="noticefile_type" />
			<result property="noticefileSize" column="noticefile_size" />
		</collection>
	</resultMap>
	<select id="selectNoticeOneById" parameterType="int" resultMap="selectNoticeOne">
		SELECT 
			n.member_id,
			n.notice_id,
			n.notice_title,
			n.notice_content,
			n.notice_date,
			nf.noticefile_id,
			nf.notice_id,
			nf.noticefile_name,
			nf.originalfile_name,
			nf.noticefile_type,
			nf.noticefile_size
		FROM notice n LEFT OUTER JOIN noticefile nf
		On n.notice_id=nf.notice_id 
		WHERE n.notice_id = #{noticeId}
	</select>
	<!-- 공지사항 삭제 -->
	<delete id="deleteNoticeOneById" parameterType="int">
		DELETE FROM notice
		WHERE notice_id =#{noticeId}
	
	</delete>
	<!-- 공지사항 수정 -->
	<update id="updateNoticeOne" parameterType="kr.co.gdu.cash.vo.Notice">
		UPDATE notice 
		SET	notice_title = #{noticeTitle},
			notice_content = #{noticeContent}
		WHERE notice_id = #{noticeId} 
	</update>
</mapper>